@media (min-width: 1024px) {

    .links .menu{   
        visibility: visible;    
        z-index: 99999999999;
       
    
    }
    .links {
        display: flex;
        flex-direction: row;
  
        width: 50%;
    }
   
 .services .container{
     margin-top: 20px;
 }
 
   
  }
   

   @media (min-width: 900px) { 
  
      .hero{
          min-height: 450px;
      }
      .descubrimientos__container--interno img{
        width: 500px;
        height: 220px;
    }
    .descubrimientos__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 900px;
    }
    .main_container--descubrimientos-section2{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width: 1790px){
    
   
    .descubrimientos__container--interno img{
        width: 500px;
        height: 250px;
    }
   
    
}
